@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}

/* Reusable components */

section {
    max-width: 1280px;
    margin: auto;
}

.section-title {
    text-align: center;
    margin-top: 80px;

}

p {
    line-height: 24px;
}

.section-title h3 {
    font-size: 32px;
    margin: 0;
}

.section-title p {
    font-size: 16px;
    line-height: 28px;
}

.section-body {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.section-body h4 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0;
}

.section-body button {
    padding: 10px 24px;
}

.section-body button a {
    text-decoration: none;
    color: #000;
}

/* Style Header Section */

.navbar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

}

.navbar h2 {
    font-size: 28px;
    font-weight: 800;
}

.navbar button {
    padding: 21px 24px;
    border-radius: 10px;
    font-size: 20px;
}

/* Style Hero Section */

#hero {
    background-image: url(../assets/Hero-bg.png);
    text-align: center;
    padding: 80px 0;
    margin-top: 10px;
}

#hero h1 {
    font-size: 48px;
    font-weight: bold;
}

#hero p {
    line-height: 25px;
    margin-bottom: 32px;
}

#hero button {
    padding: 16px 24px;
    background-color: #0D1321;
    border-radius: 10px;
}

#hero button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

/* Inspiration Section */

.video {
    margin: 60px;
}

.video iframe{
    width: 100%;
    height: 600px;
    border: 1px solid #0D132120;
    padding: 20px;
    border-radius: 10px;
}
/* Target Section */
.target {
    display: flex;
    gap: 30px;
    margin: 40px 0;
    
}

.target a {
    color: #000;
}


.html{
    background-color: #FF4C1E10;
    padding: 20px;
    border-radius: 10px;
}

.css{
    background-color: #004CE810;
    padding: 20px;
    border-radius: 10px;
}

.js{
    background-color: #FFDF0010;
    padding: 20px;
    border-radius: 10px;
}

/* Next Target Section */

.reactjs,
.nodejs,
.mongodb {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
    border: 1px solid #00000010;
    border-radius: 10px;
    padding: 20px;

}

.reactjs h4,
.nodejs h4,
.mongodb h4 {
font-size: 24px;
}

.reactjs a,
.nodejs a,
.mongodb a {
color: #000;
font-weight: bold;
}

#support {
    text-align: center;
    background-image: url(../assets/handshake.jpg);
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

#support h3 {
    font-size: 32px;
}

#support input {
    padding: 16px 20px;
    border-radius: 10px;
    border: none;
}

#support input:focus {
    border: none;
}

.text-box {
    width: 400px;
}

.btn-submit {
    font-weight: bold;
}